// Grid mixins

@mixin grid {
  display: flex;
}

@mixin grid-cell($width, $total) {
  flex: 0 0 (100% * $width / $total);
}

@mixin grid-offset($offset, $total) {
  margin-left: 100% * $offset / $total;
}

// Sticky footer

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &-content {
    flex: 1;
  }
}

.site-header {
  @include grid;

  border-bottom: 1px solid $grey-color-light;

  &-title {
    @include grid-cell(8, 12);
    @include grid-offset(2, 12);

    font-size: 2em;
    line-height: 3.5em;
    letter-spacing: -1px;

    &,
    &:visited {
      color: $grey-color-dark;
    }
  }
}

.content {
  @include grid;

  padding: $spacing-unit 0;

  &-content {
    @include grid-cell(6, 12);
    @include grid-offset(2, 12);
  }

  &-navigation {
    @include grid-cell(2, 12);
  }
}

.site-footer {
  @include grid;

  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  &-social-media {
    @include grid-cell(1, 12);
    @include grid-offset(2, 12);

    list-style: none;
  }

  &-description {
    @include grid-cell(3, 12);
    @include grid-offset(4, 12);
  }
}
